<div id="current-round-wrapper">
  <div *ngIf="round" id="current-round-area">
    <div
      (click)="killVictim()"
      id="kill-area-left"
      class="kill-area round-block"
    >
      <p class="victim-name" *ngIf="nextVictim">Kill {{ nextVictim.name }}</p>
      <p class="victim-name" *ngIf="!nextVictim">You're dead, Amigo</p>
    </div>
    <div class="player-area round-block">
      <div>Alive:</div>
      <div>
        <ul>
          <li *ngFor="let player of round?.alivePlayers">{{ player.name }}</li>
        </ul>
      </div>
      <div>Dead:</div>
      <div>
        <ul>
          <li *ngFor="let player of round?.deadPlayers">{{ player.name }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
